html {
    width: 100%;
    height: 100%;
}

body {
  margin-left: 500px;
    width: 90%;
    height: 90%;
}

.grid {
    width: 50%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
  }
  
  .grid div {
    width: 10%;
    height: 10%;
  }
  
  .snake {
    background-color: black;
  }
  
  .apple {
    background-color: red;
  }